<nav class="header">
    <a href="./index.html" class="logo">Guess the Draw</a>
    <div class="header-right">     
        <a routerLink="/ranking" routerLinkActive="active">Ranking</a>
        <ng-container *ngIf="!getauthService().isLogged(); else loggedIn">        
            <a routerLink="/register" routerLinkActive="active">Register</a>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </ng-container>
        <ng-template #loggedIn>
            <a>Logged as: {{ getauthService().getUser() }}</a>
            <!-- <a routerLink="/settings" routerLinkActive="active">Settings</a><!-->
            <a style="cursor: pointer;" (click)="getauthService().logOut()">Log Out </a>
        </ng-template>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer navbar fixed-bottom text-center">
    <div class="footer-middle container">
        <div class="w-100 row row-cols-1 justify-content-md-center">
            <div class="col">
                <a href="https://github.com/preytor/GuessTheDraw2"><i class="bi bi-github icon" role="img" aria-label="GitHub"></i></a>
                <a href="mailto:pgrfpgm@gmail.com"><i class="bi bi-envelope-fill icon" role="img" aria-label="Mail"></i></a>
            </div>
            <div class="col">
                <i class="text-muted">Pablo García Ramón - 2021</i>
            </div>
        </div>
    </div>
</footer>
