.game{
    text-align: center;
}

.menu {
    display: inline-block;
    border: 1px solid black;
    width: 20%;
    height: 400px
}

.left-menu{

}

.middle-menu{
    display: inline-block;
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    margin: 20px;
}

#drawingboard{    
    border: 1px solid rgb(160, 0, 0);
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
}

.secret-word{
    border: 1px solid black;
    height: 100px;
}

.right-menu{

}

.secret-word{
    
}

.color {
    border: 2px solid black;
    width: 560px;
    height: 112px;
}

.color div {
    border: 1px solid black;
    margin: 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

#black {
    background-color: black;
}

#darkgrey {
    background-color: darkgrey;
}

#darkred {
    background-color: darkred;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#deepskyblue {
    background-color: deepskyblue;
}

#blue {
    background-color: blue;
}

#blueviolet {
    background-color: blueviolet;
}

#white {
    background-color: whitesmoke;
}

#lightgrey {
    background-color: lightgrey;
}

#peru {
    background-color: peru;
}

#pink {
    background-color: pink;
}

#lightsalmon {
    background-color: lightsalmon;
}

#lightyellow {
    background-color: lightyellow;
}

#lightgreen {
    background-color: lightgreen;
}

#lightcyan {
    background-color: lightcyan;
}

#darkslategray {
    background-color: darkslategray;
}

#thistle {
    background-color: thistle;
}

.size {
    border: 2px solid black;
    width: 200px;
    height: 120px;
}

.circleContainer {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    background-color: white;
}

.circleContainer div {
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

#small {
    top: 20px;
    left: 20px;
    width: 8px;
    height: 8px;
}

#medium {
    top: 12px;
    left: 12px;
    width: 25px;
    height: 25px;
}

#big {
    top: 4px;
    left: 4px;
    width: 40px;
    height: 40px;
}

#clear {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}